/* For debugging */
.bordred {
    border-color: red; border-style: solid; border-width: 2px;
}

.bordteal {
    border-color: teal; border-style: solid; border-width: 2px;
}

.bordyellow {
    border-color: yellow; border-style: solid; border-width: 2px;
}

.bordgreen {
    border-color: greenyellow; border-style: solid; border-width: 2px;
}

.bordorange {
    border-color: orange; border-style: solid; border-width: 2px;
}
/* End debugging styles */

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
a.footer {
    color: #0DCAF0;
}

p.footer {
    margin-bottom: 0px;
}

.frostmenu {
    opacity: 0.5;
}

.herotext {
    font-size: 4rem;
}

.glyphtext {
    font-size: 6rem;
}

.menuglyph {
    font-size: 2rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.crbuffer {
    padding-top: 300px;
}

.worksbuffer {
    padding-top: 100px;
    padding-bottom: 300px;
}

img {
    padding-bottom: 15px;
}

/* Font classes */

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }

/* End font classes */
